bcrypt==3.2.0
cffi==1.14.4
click==7.1.2
contextlib2==0.6.0.post1
flask-jwt-extended==4.2.0
flask==1.1.2
itsdangerous==1.1.0
jinja2==2.11.2
markupsafe==1.1.1
mysql-connector-python==8.0.23
protobuf==3.14.0
pycparser==2.20
pyjwt==2.1.0
schema==0.7.4
six==1.15.0
werkzeug==1.0.1
